<!DOCTYPE html>
<html lang="en">
  <head class="d-flex flex-column h-100">
    <meta charset="UTF-8" />
    <title>Borinati Homepage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      sizes="32x32"
      type="image/jpg"
      href="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"
    />
    <link
      rel="shortcut icon"
      sizes="16x16"
      type="image/jpg"
      href="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"
    />
  </head>
  <body>
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
          <a class="navbar-brand" href="{% url 'login' %}"><h5>Borinati</h5></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'register' %}"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'FeedBack' %}"
                  >FeedBack</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header-->
      <header class="bg-dark py-5">
        <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-white mb-2">
                  Borinati is a place to gain and share knowledge.
                </h1>
                <p class="lead fw-normal text-white-50 mb-4">
                  It's a website to ask questions based on categories and
                  connect with Professional people around the world.
                </p>
                <div
                  class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
                >
                  <a
                    class="btn btn-primary btn-lg px-4 me-sm-3"
                    href="{% url 'login' %}"
                    >Get Started</a
                  >
                  <a class="btn btn-outline-light btn-lg px-4" href="#"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
              <img
                class="img-fluid rounded-3 my-5"
                src="https://img.lovepik.com/photo/40113/7048.jpg_wh860.jpg"
                alt="..."
              />
            </div>
          </div>
        </div>
      </header>
      <!-- Features section-->
      <section class="py-5" id="features">
        <div class="container px-5 my-5">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h2 class="fw-bolder mb-0">A better way to start building.</h2>
            </div>
            <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">
                <div class="col mb-5 h-100">
                  <div
                    class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
                  >
                    <i class="bi bi-collection"></i>
                  </div>

                  <h4 class="mb-0">
                    Find the best answer to your question, and help others
                    answer theirs.
                  </h4>
                </div>
                <div class="col mb-5 h-100">
                  <div
                    class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
                  >
                    <i class="bi bi-building"></i>
                  </div>

                  <h4 class="mb-0">
                    Our prime purpose in this life is to help others. And if you
                    can't help them, at least don't hurt them.
                  </h4>
                </div>
                <div class="col mb-5 mb-md-0 h-100">
                  <div
                    class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
                  >
                    <i class="bi bi-toggles2"></i>
                  </div>

                  <h4 class="mb-0">
                    You can have everything in life you want, if you will just
                    help other people get what they want.
                  </h4>
                </div>
                <div class="col h-100">
                  <div
                    class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
                  >
                    <i class="bi bi-toggles2"></i>
                  </div>

                  <h4 class="mb-0">
                    Ask for help. Not because you are week. But because You want
                    To remain strong.
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial section-->
      <div class="py-5 bg-light">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                <div class="fs-4 mb-4 fst-italic">
                  "You Don't Need Reason To Help People"
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="fw-bold">
                    Adamu Abdulkarim
                    <span class="fw-bold text-primary mx-1">/</span>
                    Co-Founder, Borinati
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog preview section-->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
              <div class="text-center">
                <h2 class="fw-bolder">- Marian Wright Edelman</h2>
                <h4 class="lead fw-normal text-muted mb-5">
                  Educations Is For Improving The Lives Of Others
                </h4>
              </div>
            </div>
          </div>
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img
                  class="card-img-top"
                  src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iXg.h4a8l5kw/v1/1200x600.jpg"
                  alt="..."
                />
                <div class="card-body p-4">
                  <a
                    class="text-decoration-none link-dark stretched-link"
                    href="#!"
                    ><h5 class="card-title mb-3">- Paul Lavinson</h5></a
                  >
                  <h4 class="card-text mb-0">
                    "Online Learning Can Be A Lifeline To Those Who Have
                    Obtacles, Such As Geographical Distances Or Physical
                    Disabilities."
                  </h4>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div
                    class="d-flex align-items-end justify-content-between"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img
                  class="card-img-top"
                  src="https://www.blueridge.edu/wp-content/uploads/2020/08/ftr-online-student-laptop_IMG_2642-862x485.jpg"
                  alt="..."
                />
                <div class="card-body p-4">
                  <a
                    class="text-decoration-none link-dark stretched-link"
                    href="#!"
                    ><h5 class="card-title mb-3">- Andrew Simoncelli</h5></a
                  >
                  <h4 class="card-text mb-0">
                    "Students Who Take Online Classes Must Be: Motivated,
                    Independent And Learners."
                  </h4>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div
                    class="d-flex align-items-end justify-content-between"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img
                  class="card-img-top"
                  src="https://img.freepik.com/free-photo/asian-woman-using-finger-touch-computer-notebook-search-information-data-chinese-manager-take-notes-with-pencil-paper-study-education-with-online-internet_255544-2518.jpg"
                  alt="..."
                />
                <div class="card-body p-4">
                  <a
                    class="text-decoration-none link-dark stretched-link"
                    href="#!"
                    ><h5 class="card-title mb-3">
                      - Stacie Ahrens-Mininberg
                    </h5></a
                  >
                  <h4 class="card-text mb-0">
                    "Students Learn To Manage Their Time, Conduct Their Own
                    Research, Advocate For Themselves - All Skills That They
                    Will Need To Succeed As An Adault."
                  </h4>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div
                    class="d-flex align-items-end justify-content-between"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Call to action-->
        </div>
      </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
      <div class="container px-5">
        <div
          class="row align-items-center justify-content-between flex-column flex-sm-row"
        >
          <div class="col-auto">
            <div class="small m-0 text-white">
              Copyright &copy; Borinati 2022
            </div>
          </div>
          <div class="col-auto">
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#">Terms</a>
            <span class="text-white mx-1">&middot;</span>
            <a class="link-light small" href="#!">Contact</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
